Repository jagilber/netCore, changes with the labels that .github/labeler.yml gives for each.
All labels: netCoreMsalNoCache, netCoreMsalWebUi, netCoreMsal, netCoreAzAdal

.github/labeler.yml:

netCoreMsalNoCache:
  - netCoreMsalNoCache/**/*

netCoreMsalWebUi:
  - netCoreMsalWebUi/**/*

netCoreMsal: 
  - netCoreMsal/**/*

netCoreAzAdal: 
  - netCoreAzAdal/**/*

cleanup
  netCoreMsal/Program.cs
  netCoreMsal/TokenCacheHelper.cs
  netCoreMsalNoCache/Program.cs
Labels: netCoreMsalNoCache, netCoreMsal

create release on label release
  .github/workflows/netCoreMsal.yml
  .github/workflows/netCoreMsalNoCache.yml
  .github/workflows/netCoreMsalWebUi.yml
Labels: none

add test project
  netCoreMsalTest/Program.cs
  netCoreMsalTest/TokenCacheHelper.cs
  netCoreMsalTest/netCoreMsal.csproj
Labels: none

testing
  netCoreMsalClientId/Program.cs
  netCoreMsalClientId/TokenCacheHelper.cs
  netCoreMsalClientId/netCoreMsal.csproj
  netCoreMsalCsx/netCoreMsalCsx.csx
  netCoreMsalCsx/setup.ps1
  netCoreMsalTest/TokenCacheHelper.cs
  scripts/net-core-msal-builder.ps1
  scripts/setup.ps1
Labels: none

rename
  netCoreMsalTest/Program.cs
  netCoreMsalTest/TokenCacheHelper.cs
  netCoreMsalTest/netCoreMsal.csproj
Labels: none

test
  netCoreMsal/Program.cs
  netCoreMsalTest/Program.cs
Labels: netCoreMsal

3.0 -> 3.1 netcore
  .github/workflows/netCoreMsal.yml
  .github/workflows/netCoreMsalNoCache.yml
  .github/workflows/netCoreMsalWebUi.yml
  netCoreAzAdal/netCoreAzAdal.csproj
  netCoreAzAdal/test.ps1
  netCoreMsal/Program.cs
  netCoreMsal/netCoreMsal.csproj
  netCoreMsalNoCache/Program.cs
  netCoreMsalNoCache/netCoreMsalNoCache.csproj
  netCoreMsalTest/Program.cs
  netCoreMsalTest/netCoreMsal.csproj
  netCoreMsalWebUi/App.xaml.cs
  netCoreMsalWebUi/netCoreMsalWebUi.csproj
  scripts/net-core-msal-builder.ps1
Labels: netCoreMsalNoCache, netCoreMsalWebUi, netCoreMsal, netCoreAzAdal

remove test serializer causing exception
  netCoreMsalTest/Program.cs
Labels: none

fix for null account
  netCoreMsalTest/Program.cs
  scripts/build.ps1
Labels: none

working with preauth
  netCoreMsalTest/Program.cs
Labels: none

cleanup
  netCoreMsalTest/Program.cs
Labels: none

cleanup
  netCoreMsalTest/Program.cs
Labels: none

remove test
  netCoreMsal/Program.cs
  netCoreMsalTest/Program.cs
  netCoreMsalTest/TokenCacheHelper.cs
  netCoreMsalTest/netCoreMsal.csproj
Labels: netCoreMsal

fix scopes
  netCoreMsal/Program.cs
  netCoreMsalCsx/netCoreMsalCsx.csx
  netCoreMsalNoCache/Program.cs
  netCoreMsalWebUi/App.xaml.cs
Labels: netCoreMsalNoCache, netCoreMsalWebUi, netCoreMsal

update
  netCoreMsalNoCache/Program.cs
  netCoreMsalWebUi/App.xaml
  netCoreMsalWebUi/App.xaml.cs
Labels: netCoreMsalNoCache, netCoreMsalWebUi

fix namespace
  netCoreMsalNoCache/Program.cs
Labels: netCoreMsalNoCache

update
  netCoreMsalWebUi/App.xaml.cs
  netCoreMsalWebUi/netCoreMsalWebUi.csproj
Labels: netCoreMsalWebUi

fix workflow
  .github/workflows/netCoreMsal.yml
Labels: none

test
  netCoreMsal/Program.cs
Labels: netCoreMsal
