Repository jagilber/netCore, changes with the labels that .github/labeler.yml gives for each.
All labels: netCoreMsal, netCoreMsalCliTokenCache, netCoreMsalCli, netCoreAzAdal, netCoreAzAdalCli

.github/labeler.yml:

netCoreMsal:
  - netCoreMsal/**/*

netCoreMsalCliTokenCache:
  - netCoreMsalCliTokenCache/**/*

netCoreMsalCli: 
  - netCoreMsalCli/**/*

netCoreAzAdal: 
  - netCoreAzAdal/**/*

netCoreAzAdalCli:
  - netCoreAzAdalCli/**/*

workflow update
  .github/workflows/workflow.yml
  netCoreMsalCliTokenCache/Program.cs
  scripts/git-upload-release.ps1
Labels: netCoreMsalCliTokenCache

workflow update
  .github/workflows/workflow.yml
Labels: none

test
  netCoreMsalCliTokenCache/Program.cs
Labels: netCoreMsalCliTokenCache

test
  .github/workflows/workflow.yml
Labels: none

test
  netCoreMsalCliTokenCache/Program.cs
Labels: netCoreMsalCliTokenCache

testing merge
  .github/workflows/workflow.yml
  netCoreMsal/App.xaml.cs
  netCoreMsal/CustomWebUi.cs
  netCoreMsal/TokenCacheHelper.cs
  netCoreMsal/netCoreMsal.csproj
  netCoreMsal/test.ps1
Labels: netCoreMsal

msal wpf test
  netCoreMsal/App.xaml.cs
  netCoreMsal/CustomWebUi.cs
Labels: netCoreMsal

msal wpf test
  .github/workflows/workflow.yml
Labels: none

working with form
  netCoreMsal/App.xaml.cs
  netCoreMsal/CustomWebUi.cs
Labels: netCoreMsal

working with form
  netCoreMsal/App.xaml.cs
  netCoreMsal/CustomWebUi.cs
Labels: netCoreMsal

cleanup
  .github/workflows/gitdebug.yml
  netCoreMsal/CustomWebUi.cs
  netCoreMsal/netCoreMsal.csproj
Labels: netCoreMsal

add msal workflow
  .github/workflows/msal.yml
  .github/workflows/msalcli.yml
Labels: none

cleanup
  .github/workflows/msal.yml
  netCoreMsal/App.xaml.cs
  netCoreMsal/CustomWebUi.cs
  netCoreMsal/TokenCacheHelper.cs
Labels: netCoreMsal

cleanup
  .github/workflows/msal.yml
  .github/workflows/msalcli.yml
Labels: none

cleanup
  .github/gitdebug.yml
Labels: none
